<div class="clearfix">&nbsp;</div>
<div class="list-md">
  Signing up to Volunteer in CutTime
  <div class="fright border" onclick="hide('#cutTime_instructions');">
    <img src="/images/icons/close.png" alt="Close">
  </div>
</div>
<div class="list-sm">Step 1: <span><a href="https://cuttime.net/signin.cfm" target="_blank">Sign in to your parent or student portal</a></span></div>
<div class="list-sm">Step 2: <span>Look on the right side under Volunteer opportunities (Picture 1 - blue circle) and click Details.</span></div>
<div class="list-sm">This opens the Available opportunities screen. (Picture 2)</div>
<div class="clearfix">&nbsp;</div>
<img style="width:100%;max-width:715px" alt="" src="/images/CutTimeInstructions.png" title="">
<div class="clearfix">&nbsp;</div>
<div class="list-sm">Step 3: <span>Review the Event, Activity, Date, Start Time, Shift Duration, and Notes about the volunteer opportunity.</span></div>
<div class="list-sm">Step 4: <span>When you find an opportunity that works for you, click I’m Interested</span></div>
<div class="list-sm">(Picture 2 - blue circle)</div>
<div class="list-sm">Step 5: <span>Once you have been selected to volunteer, it will show up in your parent/student portal page under “My volunteer activities…”</span></div>
<div class="list-sm">(Picture 1 - green circle)</div>