<footer id="footer" class="dark">
  <div class="container">
    <!-- Footer Widgets
    ============================================= -->
    <div class="footer-widgets-wrap clearfix">
      <div class="col_one_third">
        <div class="widget clearfix">
          <p>If you have questions about marching band,<br> please contact: 
            <a href="/directorofbands.html">Ron André, Director of Bands</a></br>
            <abbr title="Phone Number"><strong>Phone:</strong></abbr> (480) 497-0177 ext. 146
            <br> <a href="/pdf/2019_Student_Information.pdf" target="_blank">Download Membership Form</a>
          </p>

          <div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
            <address>
              <strong>Gilbert High School Band Office:</strong><br>
              <a href="https://goo.gl/maps/WascBqygpTGCU86j7" target="_blank">1101 E. Elliot Rd.<br>
              Gilbert, AZ 85234</a><br>
            </address>
          </div>
          <h4>Follow Us On</h4>
                <div class="row">
                  <div class="col-lg-6 clearfix bottommargin-sm">
                    <a href="https://www.facebook.com/groups/1630521463877371/" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;" target="_blank">
                      <i class="icon-facebook"></i>
                      <i class="icon-facebook"></i>
                    </a>
                    <a href="https://www.facebook.com/GilbertBandBoosters" target="_blank"><small style=" margin-top: 32px;"><strong>Like us</strong><br>on Facebook</small></a>
                  </div>
                  <div class="col-lg-6 clearfix bottommargin-sm">
                    <a href="https://www.facebook.com/groups/1630521463877371/" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;" target="_blank">
                      <i class="icon-facebook"></i>
                      <i class="icon-facebook"></i>
                    </a>
                    <a href="https://www.facebook.com/groups/1630521463877371/" target="_blank">Tiger Tails</a>
                  </div>
                 
                </div>
        </div>
      </div>
      <div class="col_one_third">
        <div class="widget clearfix">
          <h4>Photos</h4>
          <a href="https://tigerpride.smugmug.com/" target="_blank"><img width="76" src="/images/76_Smug_Mug.jpg" alt="smugmug" style="float:left;padding-right: 10px" border="0" height="76"></a>
          Click the Smug Mug icon to see photos from current and previous seasons.
        </div>
        <div class="widget clearfix">
          <h4>CutTime</h4>
          <a href="https://cuttime.net/signin.cfm" target="_blank"><img width="76" src="images/76_cuttime-icon-white.png" alt="" style="float: left;padding-right: 10px;" border="0" height="76"></a>
          Click the CutTime icon to manage fees, sign up to volunteer, check the calendar, and download forms.
        </div>
      </div>
      <div class="col_one_third col_last">
        <div class="widget clearfix center">
          <img src="/images/logo-TigerPrideBand.png" alt="Tiger Pride" class="footer-logo">
          <h4>Gilbert Band Booster (GBB)</h4>
          <!-- Donate paypal form -->
          <form method="post" action="https://www.paypal.com/cgi-bin/webscr" target="_blank">
            <input type="hidden" name="cmd" value="_donations"><input type="hidden" name="business" value="GBBTigerpride@live.com"><input type="hidden" name="item_name" value="Gilbert Band Booster (GBB)"><input type="hidden" name="currency_code" value="USD"><input type="hidden" name="return" value=""><input type="hidden" name="tax" value="0"><input type="hidden" name="lc" value="US"><input type="hidden" name="no_shipping" value="0"><input type="hidden" name="no_note" value="1"><input type="hidden" name="bn" value="NetworkSolutions_LeapCafe_PPD">
            <div class="col_full text-center">
              <img src="/images/logo-TigerPride.jpg" alt="Tiger Crest" style="max-width: 100px;">
              <input type="submit" class="button button-rounded" name="submit" alt="PayPal" border="0" value="Donate">
            </div>
            <img alt="" src="/images/paypal-credit-cards-logos.png" border="0">
          </form>
        </div>
      </div>
    </div><!-- .footer-widgets-wrap end -->
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix text-center">
        Copyright © 2019 Gilbert Band Booster | Site designed and maintained by <a href="mailto:webmaster@tigerpride.org">GBB Webmaster</a>
      </div>
    </div><!-- #copyrights end -->
  </div><!-- .container end -->
</footer><!-- #footer end -->