    <header id="header" class="full-header">
      <div id="header-wrap">
        <div class="container clearfix">
          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
          <!-- Logo
					============================================= -->
          <div id="logo" class="tiger-pride" href="/">
          </div><!-- #logo end -->
          <!-- Primary Navigation
					============================================= -->
          <nav id="primary-menu" class="style-4">
            <ul>
              <li>
                <a href="/" class="tertiary" target="_self">
                  <div>Home</div>
                </a>
              </li>
              <!-- <li>
								<a href="jointhemarchingband.html" class="tertiary" target="_self">
									<div>Join the Marching Band</div>
								</a>
							</li> -->
              <li>
                <a onclick="showCalendar();" href="#calendar" class="tertiary">
                  <div>Calendar</div>
                </a>
              </li>
              <li>
                <a href="bandstaff.html" class="tertiary" target="_self">
                  <div>Staff</div>
                </a>
                <ul>
                  <li>
                    <a href="bandstaff/directorofbands.html" class="tertiary" target="_self">
                      <div>Director of Bands</div>
                    </a>
                  </li>
                  <li>
                    <a href="bandstaff.html" class="tertiary" target="_self">
                      <div>Field Season Staff</div>
                    </a>
                  </li>
                  <li>
                    <a href="bandboosters.html" class="tertiary" target="_self">
                      <div>Band Boosters</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="oursponsors.html" class="tertiary" target="_self">
                  <div>Our Sponsors</div>
                </a>
              </li>
              <li>
                <a href="gilbertinvitational.html" class="tertiary" target="_self">
                  <div>Gilbert Invitational</div>
                </a>
                <ul>
                  <li>
                    <a href="gilbertinvitational/bandregistration.html" class="tertiary" target="_self">
                      <div>Band Registration</div>
                    </a>
                  </li>
                  <li>
                    <a href="gilbertinvitational/attendees.html" class="tertiary" target="_self">
                      <div>Attendees</div>
                    </a>
                  </li>
                  <li>
                    <a href="gilbertinvitational/volunteers.html" class="tertiary" target="_self">
                      <div>Volunteers</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="">
                  Resources
                </a>
                <ul>
                  <li>
                    <a href="concertbands.html" class="tertiary" target="_self">
                      <div>Concert Bands</div>
                    </a>
                  </li>
                  <li>
                    <a href="colorguard.html" class="tertiary" target="_self">
                      <div>Color Guard</div>
                    </a>
                  </li>
                  <li>
                    <a href="marchingbandfees.html" class="tertiary" target="_self">
                      <div>Marching Band Fees</div>
                    </a>
                  </li>
                  <li>
                    <a href="fundraising.html" class="tertiary" target="_self">
                      <div>Fundraising</div>
                    </a>
                  </li>
                  <li>
                    <a href="payment.html" class="tertiary" target="_self">
                      <div>Make A Payment</div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- #top-search end -->
          </nav><!-- #primary-menu end -->
        </div>
      </div>
    </header><!-- #header end -->