<h3>
	Our Sponsors
</h3>
<ul class="clients-grid grid-4 nobottommargin clearfix">
	<li>
		<a href="https://www.visionitmedia.com/" target="_blank">
			<img src="images/clients/1.png" alt="VisionIt Media">
		</a>
	</li>
	<li>
		<a href="https://www.bigotires.com/location/az-gilbert-85296/004187" target="_blank">
			<img src="images/clients/2.png" alt="Big O Tires">
		</a>
	</li>
	<li>
		<a href="https://www.santanford.com/" target="_blank">
			<img src="images/clients/3.png" alt="San Tan Ford">
		</a>
	</li>
	<li>
		<a href="https://dutchbros.com/locations/arizona/gilbert/db214" target="_blank">
			<img src="images/clients/4.png" alt="Clients">
		</a>
	</li>
	<li>
		<a href="https://bosadonutsaz.com/" target="_blank">
			<img src="images/clients/5.png" alt="Bosa Donuts Gilbert">
		</a>
	</li>
	<li>
		<a href="http://www.manuelsstore.com/" target="_blank">
			<img src="images/clients/6.png" alt="Manuel's Mexican Resterant & Cantina">
		</a>
	</li>
	<li>
		<a href="http://compassequipment.com/" target="_blank">
			<img src="images/clients/7.png" alt="Compass Equipment">
		</a>
	</li>
	<li>
		<a href="https://www.212icecreamstudio.com/" target="_blank">
			<img src="images/clients/8.png" alt="212 ice cream studio">
		</a>
	</li>
</ul>